In [19]:
import pandas as pd
from files import list_to_file, file_to_list
from cleaning import domain, classify_df_vvo_from_file

In [20]:
vgn_names = set(file_to_list("Data/tags/vgn_names.txt"))
veg_names = set(file_to_list("Data/tags/veg_names.txt"))
meat_names = set(file_to_list("Data/tags/meat_names.txt"))
vgn_veg_names = set(file_to_list("Data/tags/vgn_veg_names.txt"))
meat_vgn_veg_names = set(file_to_list("Data/tags/vgn_veg_names.txt"))

vgn_tags = set(file_to_list("Data/tags/vgn_tags.txt"))
veg_tags = set(file_to_list("Data/tags/veg_tags.txt"))
meat_tags = set(file_to_list("Data/tags/meat_tags.txt"))
vgn_veg_tags = set(file_to_list("Data/tags/vgn_veg_tags.txt"))

In [21]:
file_path = "Data/SH_Canteens/meals_SH_canteens_merged_filtered_.csv" #  "Data/SH_Canteens/meals_SH_canteens_merged_filtered_.csv"

In [22]:
data = pd.read_csv(file_path, sep="@", infer_datetime_format=True, index_col=0) 
data.index.rename("index", inplace=True)
# evaluates tag_list as list (from string)
data["tags"] = list(map(eval, data["tags"]))
data["meal_name"] = list(map(lambda x : x.lower(), data["meal_name"]))
data["tags"] = list(map(lambda x : [t.lower() for t in x], data["tags"]))

In [23]:
data

,mensa_id,date,meal_id,meal_name,vvo_status,tags,student_price,employee_price,guest_price
index,,,,,,,,,
0,1216,2021-08-27,7892862,"tortelloni spinat- quinoa mit cherrytomaten, r...",-1,[],NaN,NaN,3.90
1,1216,2021-08-27,7892863,fischnuggets cocktailsoße kartoffelspalten,2,[],3.00,4.20,5.05
2,1216,2021-08-27,7892864,"bratreis, zucchini, paprika, kreuzkümmel, mand...",0,[],2.35,3.55,4.40
3,1216,2021-08-30,7892865,pasta bolognese mit rindfleisch,2,[],NaN,NaN,3.50
4,1216,2021-08-30,7897455,schweineschnitzel kroketten champignonsoße,2,[],3.20,4.40,5.25
...,...,...,...,...,...,...,...,...,...
14614,1241,2022-07-14,14615,"schweineschnitzel, (ei, glw, mi), champignonso...",2,[enthält schwein],3.75,5.55,6.25
14615,1241,2022-07-15,14616,"adas polo- iranisches reisgericht linsen, datt...",0,"[international, vegan]",2.45,4.25,4.95
14616,1241,2022-07-15,14617,"chicken crossies, (glw), cocktailsoße, (3, 5, ...",2,[enthält geflügel],4.55,6.35,7.05
14954,1241,2023-10-02,14955,"weizenteigfladen, avocado, weißen bohnen, kürb...",0,[vegan],2.50,5.05,5.75
14955,1241,2023-10-02,14956,"kasselernackenbraten, (2, 8, 10), rotweinsoße,...",2,"[enthält schwein, enthält alkohol]",3.80,5.60,6.30

In [24]:
vvo_status = classify_df_vvo_from_file(data)

In [25]:
data.columns[4]
data.drop("vvo_status", axis=1, inplace=True)
data["vvo_status"] = vvo_status

In [26]:
cols = data.columns
print(cols)
cols = ['mensa_id', 'date', 'meal_id', 'meal_name', 'vvo_status', 'tags', 'student_price', 'employee_price', 'guest_price']
data = data[cols]

Index(['mensa_id', 'date', 'meal_id', 'meal_name', 'tags', 'student_price',
       'employee_price', 'guest_price', 'vvo_status'],
      dtype='object')

In [27]:
data

,mensa_id,date,meal_id,meal_name,vvo_status,tags,student_price,employee_price,guest_price
index,,,,,,,,,
0,1216,2021-08-27,7892862,"tortelloni spinat- quinoa mit cherrytomaten, r...",-1,[],NaN,NaN,3.90
1,1216,2021-08-27,7892863,fischnuggets cocktailsoße kartoffelspalten,-1,[],3.00,4.20,5.05
2,1216,2021-08-27,7892864,"bratreis, zucchini, paprika, kreuzkümmel, mand...",vegan,[],2.35,3.55,4.40
3,1216,2021-08-30,7892865,pasta bolognese mit rindfleisch,-1,[],NaN,NaN,3.50
4,1216,2021-08-30,7897455,schweineschnitzel kroketten champignonsoße,-1,[],3.20,4.40,5.25
...,...,...,...,...,...,...,...,...,...
14614,1241,2022-07-14,14615,"schweineschnitzel, (ei, glw, mi), champignonso...",meat,[enthält schwein],3.75,5.55,6.25
14615,1241,2022-07-15,14616,"adas polo- iranisches reisgericht linsen, datt...",vegan,"[international, vegan]",2.45,4.25,4.95
14616,1241,2022-07-15,14617,"chicken crossies, (glw), cocktailsoße, (3, 5, ...",meat,[enthält geflügel],4.55,6.35,7.05
14954,1241,2023-10-02,14955,"weizenteigfladen, avocado, weißen bohnen, kürb...",vegan,[vegan],2.50,5.05,5.75
14955,1241,2023-10-02,14956,"kasselernackenbraten, (2, 8, 10), rotweinsoße,...",meat,"[enthält schwein, enthält alkohol]",3.80,5.60,6.30

In [28]:
data.to_csv(file_path, sep="@")